.feed .header-title {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    margin: 0;
    padding: 20px;
    position: sticky;
    top: 0;
    /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%); */

    /* font-size: 16px;
    color: #fff;
    background: #002b51;
    height: 44px; */
}

.feed .pill {
    width: 120px;
    height: 30px;
    color: #fff;
    background: #2E7BB6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.20);
    border-radius: 20px;
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}

.feed .feed-buckets {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 62px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}

.feed .feed-buckets > div {
    width: 33.3%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #676767;
}

.feed .feed-buckets > div.active {
    border-bottom: 2px solid #333333;
    color: #333333;
}
