.feed .header-title {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    /* font-size: 16px;
    color: #fff;
    background: #002b51;
    height: 44px; */
}

.feed .report-card {
    padding: 16px;
    /* border-bottom: 1px solid #efefef; */
    margin-bottom: 5px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.feed .report-card .headline{
    font-weight: 600;
    font-size: 20px;
    color: #333;
    letter-spacing: 0;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

.feed .report-card .bottomline{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: normal;
}

.feed .report-card .details{
    font-size: 13px;
    margin-top: 8px;
    color: #333;
    letter-spacing: 0;
    line-height: 15px;
} 

.feed .report-card .eyebrow{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.feed .report-card .author{
}

.feed .report-card .dateline {
    font-size: 12px;
    margin-top: 5px;
    line-height: 14px;
    font-weight: 400;
}

.eyebrow.Update {
    color: #39bb9d;
}
.eyebrow.Bluepaper {
    color: #0070af;
}
.eyebrow.Insight {
    color: #009edc;
}
.eyebrow.Idea {
    color: #6775b8;
}
.eyebrow.Foundation {
    color: #808285;
}
